body{
	margin: 0;
}
img{
	max-width: 100%;
}
header{
	box-shadow: 0 5px 9px #a8a4a442;
	display: block;
	padding: 15px 0;
}
.container{

         width: 1100px;

          margin: auto;

           overflow: hidden;
}
.logo{

	  width: 20%;
	   float: left;
}
nav {
      width: 80%;
	  float: left;	
}
nav ul{

	    margin: 0;
	    padding: 0;
	    text-align: right;	
}



nav ul li {
	    list-style-type: none;
	    display: inline-block;
}
nav ul li a {

	   font-size: 20px;
	   color: #3b506c;
	   text-decoration: none;
	   display: block;
	   padding: 10px 20px;


}
nav ul li a:hover{
	   color: #0c66ff;
}
section{

}
.about-section{

        text-align: center;

		padding: 50px 0;
}
.about-section h1{

	font-size: 70px;

	color: #3b506c;

	margin: 0 auto;

	max-width: 800px;
}
.about-section h1 span {
	
	color: #0c66ff;
	
}
.about-section p{
	
		margin: 0;
	
		font-size: 20px;
	
		color: #3b506c;}

section img{
	
		display: block;
		margin: auto;
		max-width: 700px;
}
.feature-section{padding: 25px 0;}
.colum{
    width: 50%;
    float: left;
}
.feature{
padding: 25px;

}
.feature h2 {font-size: 55px;color: #3b506c;margin: 0;    margin-top: 15px;}
.feature h2 span { color: #F25767;


}
.feature p {
	margin: 0;
	font-size: 20px;
	color: #3b506c;
	padding-top: 10px;
}
.align-right{
	text-align: right;
}

.blog-section{padding: 25px 0 ;}
.col{
    width: 33.33%;
    float: left;
    
    padding: 10px;
    box-sizing: border-box;
}
.blog{padding: 20px;box-shadow: 0 5px 4px 3px #a79f9f42;}
.blog img {
	max-width: 100%;
     height: 300px;}
.blog h3{color: #3b506c;font-size: 22px;margin: 0;margin-bottom: 5px;}
.blog p{
    color: #3b506c;
    font-size: 18;
    margin: 0;
}

.yellow{

background: #FFF7E8;	
}
.green{

background: #EBF9F4;	
}
.red{

background: #FDEBED;	
}